/* index.html */
.main {
    display: flex;
    justify-content: center;
}

.main__container {
    display: flex;
    flex-direction: column;
    margin-block-start: 3rem;
    width: 80%;
}

.main--title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main--title h1 {
    font-size: 1.5em;
}

.main--title a {
    text-decoration: none;
}

.main--products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    margin-block-end: 3rem;
}

.main--link {
    text-decoration: none;
    cursor: pointer;
    margin: 20px 10px;
    box-shadow: 5px 5px 10px -1px rgba(0, 0, 0, 0.60)
}

.main--link:hover {
    transform: scale(1.1);
    transition: ease-in .3s;
}

.main--product {
    display: inline-flex;
    flex-direction: column;
}

.product--description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px 5px;
}

/* login.html */

.main__login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(245, 245, 245);
    width: 100%;
    height: 50vh;
}

.main--form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main--form, h1, input, button {
    margin: 20px 0;
}

.form--input {
    width: 25em;
    padding: 15px 5px;
    border: none;
    border-bottom: 1px solid rgb(200, 200, 200);
    outline: none;
}

.btn {
    width: 100%;
}

@media (min-width:320px) and (max-width:375px) {
    .form--input {
        width: 20em;
    }
}
@media (min-width:320px) and (max-width:768px) {
    /* products.html */
    .main__container {
        margin-block-start: 0px;
    }
    .products, h1 {
        font-size: 12px;
    }
    .products-btn {
        font-size: 8px;
    }
}