body {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

.general-btn {
    color: white;
    cursor: pointer;
    background-color: #2A7AE4;
    border: none;
    padding: 8px 3em;
}